---
footer_heading: test

sitemap_priority: 0.8
---

<!-- Intro -->

<section class="c-home-section">
  <div class="o-container">
    <h1>Grant Harris is a lorem ipsum dolor amet sit consectetur</h1>
  </div>
</section>

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>