---
intro:
  heading: We’re Volume7, a digital product agency
  subheading: We partner with forward-thinking startups and companies to conceptualize, build and launch new digital products.
  link_label: View our projects
  link_url: /projects

sitemap_priority: 0.8
---

<!-- Intro -->

<div class="c-section c-section--maintain-padding c-home-section js-home-section c-home-intro">
  <div class="o-container">
    <h1>Intro</h1>
  </div>
</div>

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'home' %>
<% end %>